[init]
	defaultBranch = main
[core]
	excludesfile = /Users/marco/.gitignore_global
	autocrlf = input
[user]
	name = Marco Greiveldinger
	email = 43136849+marcogreiveldinger@users.noreply.github.com
	signingkey = 1667AF2B
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
